:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --primary-text-color: #212121;
  --secondary-text-colour: #757575;
  --primary-text-color-theme-dark: #FFFFFF;
  --footer-color: #2F303A;
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header {
    border-bottom: 1px Solid #ECECEC;
  }
  .nav-header {
    display: none;
  }
  .contact__phone-number {
    display: none;
  }
  .contact {
    display: none;
  }
  .menu-mobile-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu-mobile-open {
    display: none;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .page-header__logo {
    margin-right: 87px;
  }
  .page-header {
    border-bottom: 1px Solid #ECECEC;
  }
  .nav-header {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-duration) var(--transition-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link.menu__link__current {
    color: var(--accent-color);
  }
  .menu__link.menu__link__current:hover:after {
    background-color: var(--accent-color);
  }
  .menu__item:not(:last-child) {
    margin-right: 51px;
  }
  .contact {
    margin-left: auto;
  }
  .contact__link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colour);
    transition: color var(--transition-duration) var(--transition-function);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__mail {
    margin-bottom: 10px;
  }
  .contact__icon {
    fill: currentColor;
    margin-right: 8px;
  }
  .menu__link__current {
    color: var(--accent-color);
  }
  .menu__link__current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: background-color var(--transition-duration) var(--transition-function);
    bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px Solid #ECECEC;
  }
  .page-header__container {
    justify-content: flex-start;
  }
  .contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .page-header__logo {
    margin-right: 93px;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__mail {
    margin-right: 50px;
  }
  .contact__icon {
    margin-right: 10px;
  }
  .menu__link__current::after {
    bottom: -32px;
  }
  .contact__mail {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-function), visibility var(--transition-duration) var(--transition-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: color var(--transition-duration) var(--transition-function);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    color: var(--accent-color);
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mobile-menu__nav-link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-duration) var(--transition-function);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .mobile-menu__nav-list:not(:last-child) {
    margin-bottom: 35px;
  }
  .mobile-menu__contact {
    margin-top: auto;
  }
  .mobile-menu__contact-number {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .number {
    color: var(--accent-color);
  }
  .mobile-menu__contact-mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }
  .mail {
    color: #757575;
  }
  .mobile-menu__social {
    display: flex;
    align-items: center;
  }
  .mobile-menu__social-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu__social-list:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-mobile@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
  }
}
@media screen and (max-width: 767px) {
  .hero__btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    vertical-align: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 30px;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: #2F303A;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-tablet.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 1199px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
  }
  .hero__btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    vertical-align: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 30px;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (max-width: 768px) and (max-width: 1199px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (max-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-desktop.jpg");
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
  }
  .hero__btn {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (max-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-desktop@2x.jpg");
  }
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__second {
  color: #000000;
}

@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
  }
  .team-title,
.clients-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1785714286;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
  .work-title,
.team-title,
.clients-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 767px) {
  .section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  }
  .section__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .pluses-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .plusses-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--secondary-text-colour);
  }
}
@media screen and (min-width: 768px) {
  .section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 354px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  }
  .section__list {
    display: flex;
  }
  .section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .section__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .pluses-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .plusses-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--secondary-text-colour);
  }
}
@media screen and (min-width: 1200px) {
  .section__container {
    width: 270px;
  }
  .section__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .our-works-section {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .our-works-section {
    padding-top: 0;
  }
  .our-works {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .our-works-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
  }
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    align-items: center;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
    background-color: rgba(47, 48, 58, 0.8);
  }
  .work-title-list {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .team {
    background-color: #F5F4FA;
    width: 100%;
    max-width: 767px;
  }
  .team-list {
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-text-color-theme-dark);
  }
  .team-list:not(:last-child) {
    margin-bottom: 30px;
  }
  .person {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .job-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-text-colour);
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .socisl-list-icone {
    transition: fill var(--transition-duration) var(--transition-function);
    fill: #AFB1B8;
  }
  .socisl-list-link:hover .socisl-list-icone, .socisl-list-link:focus .socisl-list-icone {
    fill: #FFFFFF;
  }
  .socisl-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .socisl-list-link:hover, .socisl-list-link:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .team {
    background-color: #F5F4FA;
  }
  .our-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .team-list-title {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
  }
  .team-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-text-color-theme-dark);
  }
  .person {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .job-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-text-colour);
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .socisl-list-icone {
    transition: fill var(--transition-duration) var(--transition-function);
    fill: #AFB1B8;
  }
  .socisl-list-link:hover .socisl-list-icone, .socisl-list-link:focus .socisl-list-icone {
    fill: #FFFFFF;
  }
  .socisl-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .socisl-list-link:hover, .socisl-list-link:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .team-list-title {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .clients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients-item {
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .clients-link:hover, .clients-link:focus {
    border-color: var(--accent-color);
  }
  .clients-icon {
    fill: #AFB1B8;
    transition: fill var(--transition-duration) var(--transition-function);
  }
  .clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients-item {
    width: 226px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .clients-link:hover, .clients-link:focus {
    border-color: var(--accent-color);
  }
  .clients-icon {
    fill: #AFB1B8;
    transition: fill var(--transition-duration) var(--transition-function);
  }
  .clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .clients-item {
    width: 170px;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .clients-link:hover, .clients-link:focus {
    border-color: var(--accent-color);
  }
  .clients-icon {
    fill: #AFB1B8;
    transition: fill var(--transition-duration) var(--transition-function);
  }
  .clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
    fill: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-color);
  }
  .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .second-logo-footer {
    color: var(--primary-text-color-theme-dark);
  }
  .footer-link {
    margin-bottom: 60px;
  }
  .address {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
  .address__link {
    color: var(--primary-text-color-theme-dark);
  }
  .address__contact-footer,
.address__contact-mail-footer {
    margin-bottom: 8px;
  }
  .address__contact-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration) var(--transition-function);
  }
  .address__contact-link:hover, .address__contact-link:focus {
    color: var(--primary-text-color-theme-dark);
  }
  .join {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .social-list-conteiner {
    margin-bottom: 60px;
  }
  .social-list-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .socisl-list-footer__icone {
    transition: fill var(--transition-duration) var(--transition-function);
    fill: #FFFFFF;
  }
  .socisl-list-footer__link:hover .socisl-list-footer__icone, .socisl-list-footer__link:focus .socisl-list-footer__icone {
    fill: #FFFFFF;
  }
  .socisl-list-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .socisl-list-footer__link:hover, .socisl-list-footer__link:focus {
    background-color: var(--accent-color);
  }
  .form-footer-container__head {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-text-color-theme-dark);
  }
  .footer-form__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    padding: 10px 31px;
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    transition: box-shadow var(--transition-duration) var(--transition-function);
  }
  .footer-form__btn:hover, .footer-form__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-form__icon-btn {
    fill: #FFFFFF;
    margin-left: 12px;
  }
  .footer-form__input {
    width: 100%;
    max-width: 480px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    transition: border-color var(--transition-duration) var(--transition-function);
    margin-bottom: 20px;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--footer-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-form__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-color);
  }
  .second-logo-footer {
    color: var(--primary-text-color-theme-dark);
  }
  .container_footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
  .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .address {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
  .address__link {
    color: var(--primary-text-color-theme-dark);
  }
  .address__contact-footer,
.address__contact-mail-footer {
    margin-bottom: 8px;
  }
  .address__contact-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration) var(--transition-function);
  }
  .address__contact-link:hover, .address__contact-link:focus {
    color: var(--primary-text-color-theme-dark);
  }
  .join {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .social-list-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .socisl-list-footer__icone {
    transition: fill var(--transition-duration) var(--transition-function);
    fill: #FFFFFF;
  }
  .socisl-list-footer__link:hover .socisl-list-footer__icone, .socisl-list-footer__link:focus .socisl-list-footer__icone {
    fill: #FFFFFF;
  }
  .socisl-list-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .socisl-list-footer__link:hover, .socisl-list-footer__link:focus {
    background-color: var(--accent-color);
  }
  .form-footer-container__head {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-text-color-theme-dark);
  }
  .footer-form__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    padding: 10px 31px;
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    transition: box-shadow var(--transition-duration) var(--transition-function);
  }
  .footer-form__btn:hover, .footer-form__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-form__icon-btn {
    fill: #FFFFFF;
    margin-left: 12px;
  }
  .footer-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    transition: border-color var(--transition-duration) var(--transition-function);
    margin-bottom: 20px;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--footer-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-form__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    align-items: baseline;
  }
  .footer-link {
    flex-grow: 1;
  }
  .container_footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .join {
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .logo-footer {
    margin-bottom: 20px;
    display: block;
  }
  .social-list-conteiner {
    margin-left: 70px;
    width: 206px;
    height: 80px;
  }
  .address__contact-footer:not(:last-child) {
    margin-bottom: 9px;
  }
  .address__link,
.address__contact-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    transition: color var(--transition-duration) var(--transition-function);
    color: rgba(255, 255, 255, 0.6);
  }
  .address__link:hover, .address__link:focus,
.address__contact-link:hover,
.address__contact-link:focus {
    color: var(--primary-text-color-theme-dark);
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-color);
  }
  .second-logo-footer {
    color: var(--primary-text-color-theme-dark);
  }
  .address__link {
    color: var(--primary-text-color-theme-dark);
  }
  .social-list-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .socisl-list-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--transition-function);
  }
  .socisl-list-footer__link:hover, .socisl-list-footer__link:focus {
    background-color: var(--accent-color);
  }
  .socisl-list-footer__icone {
    transition: fill var(--transition-duration) var(--transition-function);
    fill: #FFFFFF;
  }
  .socisl-list-footer__link:hover .socisl-list-footer__icone, .socisl-list-footer__link:focus .socisl-list-footer__icone {
    fill: #FFFFFF;
  }
  .form-footer-container {
    margin-left: 93px;
  }
  .form-footer-container__head {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-text-color-theme-dark);
  }
  .footer-form__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    padding: 10px 28px;
    margin-left: 12px;
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    transition: box-shadow var(--transition-duration) var(--transition-function);
  }
  .footer-form__btn:hover, .footer-form__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-form__icon-btn {
    fill: #FFFFFF;
    margin-left: 10px;
  }
  .footer-form {
    display: flex;
  }
  .footer-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    transition: border-color var(--transition-duration) var(--transition-function);
    color: var(--primary-text-color-theme-dark);
    background-color: var(--footer-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-form__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
@media screen and (max-width: 1199px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
    flex-basis: calc((100% - 16px) / 3);
  }
  .filter__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function), background-color var(--transition-duration) var(--transition-function);
  }
  .filter__btn:hover, .filter__btn:focus {
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .work-example {
    width: 100%;
    max-width: 767px;
  }
  .work-example__item {
    background-color: var(--primary-text-color-theme-dark);
  }
  .work-example__container {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 24px 20px;
  }
  .work-example__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-colour);
  }
  .work-example__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
  }
  .work-example__link {
    display: block;
    transition: box-shadow var(--transition-duration) var(--transition-function);
  }
  .work-example__link:hover, .work-example__link:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .work-example__wrapper {
    position: relative;
    overflow: hidden;
  }
  .work-example__link-wrapper {
    display: block;
  }
  .work-example__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration) var(--transition-function);
    color: var(--primary-text-color-theme-dark);
    background-color: rgba(33, 150, 243, 0.9);
  }
  .work-example__link-wrapper:hover .work-example__overlay, .work-example__link-wrapper:focus .work-example__overlay {
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 30px;
    justify-content: center;
  }
  .work-example {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .work-example__item {
    flex-basis: calc((100% - 30px) / 2);
    background-color: var(--primary-text-color-theme-dark);
  }
  .work-example__container {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 24px 20px;
    flex-grow: 1;
  }
  .filter__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function), background-color var(--transition-duration) var(--transition-function);
  }
  .filter__btn:hover, .filter__btn:focus {
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .work-example__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-colour);
  }
  .work-example__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
  }
  .work-example__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--transition-duration) var(--transition-function);
  }
  .work-example__link:hover, .work-example__link:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .work-example__wrapper {
    position: relative;
    overflow: hidden;
  }
  .work-example__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration) var(--transition-function);
    color: var(--primary-text-color-theme-dark);
    background-color: rgba(33, 150, 243, 0.9);
  }
  .work-example__link-wrapper:hover .work-example__overlay, .work-example__link-wrapper:focus .work-example__overlay {
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 48px;
  }
  .work-example__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-function), visibility var(--transition-duration) var(--transition-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 1199px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    height: 609px;
    background-color: #FFFFFF;
    padding: 40px;
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #000000;
  }
  .modal-close-btn:hover, .modal-close-btn:focus {
    fill: var(--accent-color);
  }
  .modal-close-btn-icon {
    transition: fill var(--transition-duration) var(--transition-function);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    padding: 40px;
  }
  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #000000;
  }
  .modal-close-btn:hover, .modal-close-btn:focus {
    fill: var(--accent-color);
  }
  .modal-close-btn-icon {
    transition: fill var(--transition-duration) var(--transition-function);
  }
}
@media screen and (max-width: 767px) {
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-head {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--primary-text-color);
  }
  .modal-form-field {
    margin-bottom: 10px;
  }
  .modal-form-input-desc {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--secondary-text-colour);
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-duration) var(--transition-function);
  }
  .modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    transition: fill var(--transition-duration) var(--transition-function);
  }
  .modal-form-input:focus + .modal-form-input-icon {
    fill: var(--accent-color);
  }
  .modal-form-input-wrapper {
    display: block;
    position: relative;
  }
  .modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color var(--transition-duration) var(--transition-function);
  }
  .modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-message::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-check-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 31px;
    color: var(--secondary-text-colour);
  }
  .user-policy-link {
    text-decoration-line: underline;
    color: var(--accent-color);
  }
  .modal-form-icon {
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-icon-check {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 8px;
    opacity: 0;
  }
  .modal-form-check:checked + .modal-form-icon-check {
    opacity: 1;
  }
  .modal-form-submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
  }
  .modal-form-submit:hover, .modal-form-submit:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 768px) {
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-head {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--primary-text-color);
  }
  .modal-form-field {
    margin-bottom: 10px;
  }
  .modal-form-input-desc {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--secondary-text-colour);
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-duration) var(--transition-function);
  }
  .modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    transition: fill var(--transition-duration) var(--transition-function);
  }
  .modal-form-input:focus + .modal-form-input-icon {
    fill: var(--accent-color);
  }
  .modal-form-input-wrapper {
    display: block;
    position: relative;
  }
  .modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color var(--transition-duration) var(--transition-function);
  }
  .modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-message::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-check-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 31px;
    color: var(--secondary-text-colour);
  }
  .user-policy-link {
    text-decoration-line: underline;
    color: var(--accent-color);
  }
  .modal-form-icon {
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-icon-check {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 9px;
    opacity: 0;
  }
  .modal-form-check:checked + .modal-form-icon-check {
    opacity: 1;
  }
  .modal-form-submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
  }
  .modal-form-submit:hover, .modal-form-submit:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-icon-check {
    top: 5px;
    left: 20px;
  }
  .modal-form-check-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}/*# sourceMappingURL=main.css.map */